{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["angular"],
  "globals":{
      "Insert Global Here": true
  },
  "rules": {
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1,
      },
    ],
    "quotes": ["error", "single"],
    "linebreak-style": [
      "error",
      "windows"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "off",
    "no-empty": [
      "error",
      {
        "allowEmptyCatch": true,
      },
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "vars": "all",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_",
      },
    ],
  }
}