body {
  padding-top: 20px;
  background-image: url("/app/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

h2 {
  font-size: 20px;
}

li {
  margin: 0px 0px 30px 0px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

select {
  margin-left: 15px;
}

.list {
  height: 90vh;
  overflow: auto;
  /* for Firefox */
  min-height: 0;
}

.logo-cont {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: solid 1px #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 80px;
  height: auto;
}

.icon {
  width: 15px;
  margin-right: 5px;
}

.icon2 {
  margin-left: 15px;
}

.customrow {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  color: #aaa;
}

.customrow2 {
  margin-left: 0px;
  margin-right: 0px;
}

.listitem {
  padding: 10px;
  border: solid 1px #eee;
}

.sidebox {
  background-color: #fff;
  padding: 15px;
}

.navbar {
  margin-bottom: 15px;
  padding-left: 15px;
}